/* AnimatedScene.scss */

.parallax-container {
  position: relative;
  width: 100%;
  height: 100vw; /* Adjust the minimum height as needed */
  overflow: hidden;

}


.welcome-message {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 99;
}



.parallax-layer {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-layer {
  background-image: url('../../assets/box.png');

  z-index: 1;
  margin-top: 0vh; /* Adjust as needed for mobile */
}

.clouds1-layer {
  background-image: url('../../assets/header.png');
  z-index: 4;
  margin-top: 0vh; /* Adjust as needed for mobile */
}

.clouds2-layer {
  background-image: url('../../assets/nft.png');
  z-index: 4;
  margin-top: 120vh; /* Adjust as needed for mobile */
}

// .clouds3-layer {
//   background-image: url('../../assets/clouds1.png');
//   z-index: 2;
//   position: absolute;
//   margin-top: 0vh; /* Adjust as needed for mobile */
// }

.moon-layer {
  // background-image: url('../../assets/by.png');
  z-index: 6;
  margin-top: 150vh; /* Adjust as needed for mobile */
  margin-left: 150vh;
}

.nightsky-layer {
  position: absolute; /* Make the container absolute */
  top: 0;
  left: 0;
  background-image: url('../../assets/3dcloud.png');
  z-index: 2;
  margin-top: 0vh; /* Adjust as needed for mobile */
  /* Add any other styles you need for the container */
}



/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
  .welcome-message h1 {
    font-size: 3rem; /* Adjust the font size for smaller screens */
  }
  .parallax-container {
    position: relative;
    width: 100%;
    height: 100vw; /* Adjust the minimum height as needed */
   
    margin-bottom: 0;
  
  }
  

  /* Adjust the margin-top for all layers to make them fit better on smaller screens */
  .bottom-layer {
    width: auto;
height: auto;
    
  }
  .clouds1-layer {
    margin-top: 0vw;
  }
  .clouds2-layer {
    margin-top: 165vw;
  }
  .clouds3-layer {
    width: auto;
    margin-top: 45vw;

  }
  .moon-layer {
    width: auto;
  }
  .nightsky-layer {
    margin-top: 0px;
    /* Remove negative margin for smaller screens */
  }
}
