.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 175vh;
    margin-bottom: 0;

  }
  
  .team-member {
    text-align: center;
    margin: 20px; /* Adjust the margin as needed */
  
    img {
      border-radius: 50%;
      width: 450px; /* Adjust the width for mobile screens */
      height: 450px; /* Adjust the height for mobile screens */
      object-fit: cover;
      border: 12px solid #ffffff;
      transition: transform 0.3s ease-in-out;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  
    h2 {
      margin-top: 10px;
      font-size: 1.5rem; /* Adjust the font size for mobile screens */
      color: #f3f2f2;
    }
  
    p {
      margin-top: 5px;
      font-size: 1.5rem; /* Adjust the font size for mobile screens */
      color: #faf6f6;
      font-family: fantasy;
      text-shadow: 0 0 15px #ffffff;
    }
  
    @media (max-width: 768px) {

        .team {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 150vh; /* Set a minimum height to fill the viewport */
          }
        
      /* Media query for screens with a maximum width of 768px (typical for mobile devices) */
      img {
        width: 150px; /* Adjust image width for smaller screens */
        height: 150px; /* Adjust image height for smaller screens */
      }
  
      h2 {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
      }
  
      p {
        font-size: 1rem; /* Adjust font size for smaller screens */
      }
    }
  }
  