
/* Default styles for the Parallax component with background image */
.parallax-image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background image fixed */
    background-position: center;
    overflow-x: hidden;
  }
  
  /* Mobile responsive styles for the background image */
  @media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .parallaxImage {
      height: 1000px; /* Adjust the height for smaller screens */
      background-size: fill; /* Adjust the background size for better visibility */
      background-attachment: scroll; /* Change to scroll for better mobile behavior */
    }
  }
  
  