
@import "~compass-mixins/lib/compass";
$w: 100vw;
$h: 150vh;


.App-logo {
	width: 100%;
	height: 300px;
	align-items: center;
	display: flex;
	position: center;
}


.parallax_container {
	width: $w;
	height: $h;
	margin-top: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	@include perspective(10px);
	background: rgba(0, 0, 0, 0);

	.basic_setting {
		background-size: cover;
		background-repeat: no-repeat;
		width: $w;
		height: 200%;
		position: absolute;
		top: 0px;
    
    @include box-shadow(0px 0px 300px black inset);

		@include filter(brightness(100%));
		@include transition(-webkit-filter 0.5s);

		&:hover{
			@include filter(brightness(130%));
		}
	}
	.parallax_layer_1 {
		@include transform(translateZ(-1px) rotateZ(3deg));
		// background-image: url("../assets/asteroids.png");
		/* Mobile Styles */
		@media (max-width: 768px) {
			top: 0;
			left: 0;
			background-size: cover;
		  }
	}
	.parallax_layer_2 {
		top: -20%;
		left: 43%;
		background-position: left;
		@include transform(translateZ(-10px) rotateZ(-2deg));
		background-image: url("../assets/chib (1).png");
		/* Mobile Styles */
		@media (max-width: 768px) {
			top: 0;
			left: 0;
			background-size: cover;
		  }
	}
	.parallax_layer_3 {
		top: 10%;
		left: 20%;
		@include transform(translateZ(-30px) rotateZ(350deg));
		background-image: url("../assets/chib (5).png");
		/* Mobile Styles */
		@media (max-width: 768px) {
			top: 0;
			left: 0;
			background-size: cover;
		  }
	}
	.parallax_layer_4 {
		top: 50%;
		left: -30%;
		width: $w*0.7;
		height: $h*1;
		background-size: 100% auto;
		@include transform(translateZ(-5px) rotateZ(15deg));
		background-image: url("../assets/chib (7).png");
		/* Mobile Styles */
		@media (max-width: 768px) {
			top: 0;
			left: 0;
			background-size: contain;
			width: $w*2;

		  }
	}
	.parallax_layer_5{
		outline: 0px;
		border: 0px;

		top: 180%;
		left: 5%;
		height: $h*0.5;
		width: $w*0.3;
		background-size: 100% auto;
		@include transform(rotateZ(-15deg));
		background-image:url("../assets/chib (8).png");
    background-size: cover;    

		@include transition(all 0.3s);

		&:hover{
			cursor:pointer;
		}

		&:focus{
			cursor: pointer;
			@include transform(rotateZ(0deg));
			top: 130%;
			left: 10%;
			width: 80%;
			height: 80%;
		}
		/* Mobile Styles */
		@media (max-width: 768px) {
			top: 10;
			left: 5;
			background-size: cover;
			width: $w*0.5;

		  }
	}

	.footer {
		color: white;
		width: 100%;
		text-align: center;

		position: absolute;
		top: 210%;

		a {
			color: white;
		}
	}
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background-color: #ececec;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(56, 89, 100, 0.4);
	border: 2px solid #e3e7f0;
}
::-webkit-scrollbar-button {
	height: 0px;
	background: red;
	width: 0px;
}
::-webkit-scrollbar-corner {
	margin-top: 20px;
	background-color: #e3e7f1;
}